.verification-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'VT323', monospace;
  text-align: center;
  background: #f9f9f9;
}

.verification-container h1 {
  font-size: 2rem;
  color: #2d2c2c;
}

.verification-container p {
  font-size: 1.2rem;
  color: #555;
}
