@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'VT323', monospace;
}

.container {
  font-family: 'VT323', monospace;
  background: #ffffff14; /* rgba(255, 255, 255, 0.08) */
  border: 5px solid #000000; /* Black */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 15px;
  box-shadow: 0 10px 32px #2d2c2c5e; /* rgba(45, 44, 44, 0.37) */

  padding: 2rem;
  max-width: 800px;
  width: 100%;
  margin: auto;

  color: #00ffcc;
  text-shadow: 0 0 2px #00ffcc;
}
